AUTH_URL=http://localhost:3000
AUTH_SECRET=replace-with-a-random-secret
POSTGRES_PRISMA_URL=postgresql://admin@127.0.0.1:5432/lrwc_dev?schema=public
POSTGRES_URL_NON_POOLING=postgresql://admin@127.0.0.1:5432/lrwc_dev?schema=public
AUTH_RESEND_KEY=replace-with-your-resend-key
